:root {
  --bg-color: #fff;
  --line-color-1: #aaa;
  --line-color-2: #ddd;

  --font-xs: 0.75rem;   
  --font-s: 0.875rem;  
  --font-m: 1rem;      
  --font-l: 1.125rem;  
  --font-xl: 1.5rem;   
  --font-xxl: 2rem;    


 --neutral-50: #fafafa;
  --neutral-100:#f4f4f5 ;
  --neutral-200:#e4e4e7;
  --neutral-300:#d4d4d8;
  --neutral-400:#a1a1aa;
  --neutral-500:#71717a;
  --neutral-600:#52525b;
  --neutral-700:#3f3f46;
  --neutral-800:#27272a;
  --neutral-900:#18181b;

  --accent-50: #faf5ff;
  --accent-100: #f3e8ff;
  --accent-200: #e9d5ff;
  --accent-300: #d8b4fe;
  --accent-400: #c084fc;
  --accent-500: #a855f7;
  --accent-600: #9333ea;
  --accent-700: #7e22ce;
  --accent-800: #6b21a8;
  --accent-900: #581c87;
  --accent-950: #3b0764;

  --color-red: rgb(187, 77, 77);
  --color-extreme:    var(--neutral-900);
  --color-strong:       var(--neutral-800);
  --color-medium:     var(--neutral-600);
  --color-weak:       var(--neutral-400);
  
  --color-text:         #ffffff;
  --color-text-mild:    var(--neutral-200);
  --color-text-muted:   var(--neutral-400);

  --color-accent:       var(--accent-500);
  --color-accent-hover: var(--accent-400);
  --color-accent-muted: var(--accent-950);
  --color-accent-transparent: #3c0764b0;

  --font-1: "Roboto Mono", monospace;
  --font-2: "Poppins", sans-serif;  
   --border-radius-extreme: 48px;
  --border-radius-strong: 24px;
  --border-radius-mild: 12px;
  --border-radius-weak: 6px;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --line-color-1: #666;
    --line-color-2: #333;
  }
}

.CanvasContainer {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  display: flex;
  border: 2px solid orange;
}

.EditorMainCanvas {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  display: block;
  background-color: var(--bg-color);

}

.EditorPage {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.EditorNav {
  display: flex;
  flex-direction: row;
  flex: 0 0 30px;
  min-height: 30px;
  width: 100%;
  border: 1px solid lightgreen;
  box-sizing: border-box;
}

.EditorBody {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  display: flex;
}

.EditorBodyHorizontal {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.EditorBodyVertical {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.EditorBodyLeft,
.EditorBodyRight {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.EditorBodyTop,
.EditorBodyBottom {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.EditorBodyCenter {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  display: flex;
}

.TransformPropertiesRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  min-width: 0px;
  min-height: 0px;
  flex: 1;
}

.TransformProperties{
  min-width: 0px;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.PropertiesRow{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 10px 0px 10px 0px;
}

.PropertiesRow .MutableFieldTitle{
  margin: 0px 7px 0px 7px;
  width: 25%;
}