.ScenePropertiesWidget .WidgetButtonsPanel{
    display: grid;    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 5px;
    max-width: 180px;
    justify-content: center;
}

.ScenePropertiesWidget .WidgetButtonsPanel button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    min-width: 30px;
    min-height: 30px;
    width: 100%;
    height: 100%;
    font-size: var(--font-xs);

    border: solid 1px white;
    border-radius: 0;
    background-color: transparent;
}

.ScenePropertiesWidget .WidgetButtonsPanel button:hover{
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.ScenePropertiesWidget .WidgetButtonsPanel button.ActiveButton{
    border: 1px solid var(--color-accent);
}

