.Tooltip {
    position: relative;
}

.TooltipText {
    position: fixed;
    transform: translate(-50%, 100%);
    background-color: var(--line-color-2);
    border: 1px solid var(--line-color-1);
    padding: 2px 6px;
    white-space: nowrap;
    font-size: var(--font-xs);
    pointer-events: none;

    visibility: hidden;

    transition:
        visibility 0s 0.5s;
}

.TooltipTextVisible {
    visibility: visible;
}

.TooltipText:not(.TooltipTextVisible) {
    transition-delay: 0s;
}