.EditVoxelObjectWidget .WidgetButtonsPanelWrapper{
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EditVoxelObjectWidget .WidgetButtonsPanelTitle{
    margin: 0px 0px 5px 0px;
}

.EditVoxelObjectWidget .WidgetButtonsPanel{
    display: grid;    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 5px;
    max-width: 180px;
    justify-content: center;
}

.EditVoxelObjectWidget .WidgetButtonsPanel.WidgetVectorAxisButtonsPanel{
    gap: 0px;
    max-width: 150px;
}

.EditVoxelObjectWidget .WidgetButtonsPanel button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    min-width: 30px;
    min-height: 30px;
    width: 100%;
    height: 100%;
    font-size: var(--font-xs);

    border: solid 1px white;
    border-radius: 0;
    background-color: transparent;
}

.EditVoxelObjectWidget .WidgetButtonsPanel button:hover{
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.EditVoxelObjectWidget .WidgetButtonsPanel.ModifySizeButtonsPanel{
    grid-template-columns: repeat(2,1fr);
}

.EditVoxelObjectWidget button{
    white-space: nowrap;
    overflow: hidden;
}

.EditVoxelObjectWidget .MutableFieldWrapper{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.EditVoxelObjectWidget .MutableFieldTitle{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0px;
    font-size: var(--font-m);
}



.EditVoxelObjectWidget .resizeLockButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.EditVoxelObjectWidget svg{
    width: 16px;
    height: 16px;
}

.EditVoxelObjectWidget .WidgetButtonsPanel.defaultSizesButtonsPanel{
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}