.ColorPaletteWidget{
    width: 100%;
    border: 0.5px solid ;
    max-height: 80%;
    display: flex;
    flex-direction: column;
}

.ColorPalettesIndexList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ColorPaletteIndexButton{
    cursor: pointer;
}

.ColorPaletteIndexButton:hover{
    cursor: pointer;
}

.ColorPaletteIndexButton.ChosenColorPaletteIndexButton{
    border: 1px solid purple;
}

.ColorPaletteGrid {
  display: flex;
  flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--line-color-2);
    overflow-y:auto
}

.ColorPaletteCell{
    width: 20px;
    border: 1px solid gray;
    aspect-ratio: 1/1;
    margin: 1px;
}

.ColorPaletteCell:hover{
    cursor: pointer;
}

.ColorPaletteCell.ChosenColorPaletteCell{
    border: 3px solid purple;
    aspect-ratio: 1/1;
}

.ColorPaletteOptions{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.ColorPaletteOptions svg{
    width: 20px;
    height: 20px;
}

.ColorPaletteOptionsButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.ColorPaletteOptionsButton:hover{
    cursor: pointer;
}

.EditColorWindow{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--line-color-1) !important;
  
  z-index: 1000;
}

.EditColorWindow > div:first-child{   
    background-color: var(--line-color-2) !important;
    background-image: none !important;
    color: white !important;
    font-size: var(--font-m) !important;  
}