.SelectToolsWidget > .ExpandableRowChildrenWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SelectToolsWidget button:hover{
    cursor: pointer;
}

.SelectToolsWidget > .ExpandableRowChildrenWrapper >{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SelectToolsWidget > .ExpandableRowChildrenWrapper > *{
    margin: 10px 0px 10px 0px;
}

.SelectModeWrapper{
    display: flex;
    flex-direction: row;
}

.QuickSelectTitle{
    margin: 0px 0px 5px 0px;
}

.QuickSelectButtons{
    display: grid;    
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    max-width: 150px;
    justify-content: start;
}

.QuickSelectButtons button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    min-width: 30px;
    min-height: 30px;
    width: 100%;
    height: 100%;
    font-size: var(--font-xs);

    border: solid 1px white;
    border-radius: 0;
    background-color: transparent;
}

.QuickSelectButtons button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.SelectedVoxelsCount{
    font-size: var(--font-xs);
    margin: 0;
}

.SelectModeText{
    font-size: var(--font-s);
    margin: 0px 10px 0px 0px;
}