.SelectToolsWidget > .ExpandableRowChildrenWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SelectToolsWidget button:hover{
    cursor: pointer;
}

.SelectToolsWidget > .ExpandableRowChildrenWrapper >{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SelectToolsWidget > .ExpandableRowChildrenWrapper > *{
    margin: 10px 0px 10px 0px;
}

.SelectModeWrapper{
    display: flex;
    flex-direction: row;
}

.SelectToolsButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.SelectToolsButtons button{
    max-width: 60px;
}

.SelectAllButton{
    width: 40%;
}

.SelectClearButton{
    width: 40%;
}

.SelectedVoxelsCount{
    font-size: var(--font-xs);
    margin: 0;
}

.SelectModeText{
    font-size: var(--font-s);
    margin: 0px 10px 0px 0px;
}