.ResizableContainer{
    border: 1px solid;
    border-color: cadetblue;
    overflow: auto;
}

.ResizableContainerVert{
    display: flex;

    flex-direction: column;
    height: 100%;
}

.ResizableContainerHor{
    display: flex;
    flex: 1;
    min-width: 0;
    flex-direction: row;
    width: 100%;
}

.ResizableContainerTop{
    display: flex;
    flex-direction: row;
}

.ResizableContainerBottom{
        display: flex;
    flex-direction: row;
}

.ResizableContainerChildWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    min-width: 0;
    min-height: 0;
    flex: 1;
    
    /*flex-wrap: wrap;*/
    /*flex: 1 1 auto;*/
    /*background-color: cadetblue;*/
}

.ResizableContainerHandle{
    cursor: crosshair;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.ContainerVertHandle{
    cursor: row-resize;
}

.ContainerHorHandle{
    cursor: col-resize;
}

.ContainerCornerHandle{
    cursor: move;
}
.ContainerTopHandle{
    flex: 1;
    min-width: 0;
}

.ContainerBottomHandle{
    flex: 1;
    min-width: 0;
}
